<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/register}" th:object="${form}">
    <div>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email"/> <br/>

        <label for="password">Password: </label>
        <input type="text" name="password" id="password"/><br/>

        <label for="full_name">Full name: </label>
        <input type="text" name="fullname" id="full_name"><br/>

        <label for="street">Street: </label>
        <input type="text" name="street" id="street"><br/>

        <label for="city">City: </label>
        <input type="text" name="city" id="city"/><br/>

        <label for="state">State: </label>
        <input type="text" name="state" id="state"/><br/>

        <label for="zip">Zip code: </label>
        <input type="text" name="zip" id="zip"/><br/>

        <label for="phone_number">Phone number: </label>
        <input type="text" name="phoneNumber" id="phone_number"/><br/>




        <!--    <label for="confirm">Confirm password: </label>-->
        <!--    <input type="text" name="confirm" id="confirm"/>-->

        <!--    <label for="fullname">Full name: </label>-->
        <!--    <input type="text" name="fullname" id="fullname"/>-->

        <!--    <label for="street">Street: </label>-->
        <!--    <input type="text" name="street" id="street"/>-->

        <!--    <label for="city">City: </label>-->
        <!--    <input type="text" name="city" id="city"/>-->

        <!--    <label for="state">State: </label>-->
        <!--    <input type="text" name="state" id="state"/>-->

        <!--    <label for="zip">Zip: </label>-->
        <!--    <input type="text" name="zip" id="zip"/>-->

        <!--    <label for="phone">Phone: </label>-->
        <!--    <input type="text" name="phone" id="phone"/>-->

        <input type="submit" value="Register">
    </div>
</form>
</body>
</html>